.simple-bar .menu li {
    margin-right: 27px;
}

.menu li {
  float: left;
  margin-right: 54px;
  position: relative;
}

.subnav li a {
    margin-bottom: 0px;
}

.subnav li {
    min-width: 10px;
}

ul.subnav {
   background-color: rgba(255,255,255,0.9);
   margin-top:-62px;
   margin-left:-5px;
   padding: 5px 5px 5px 5px
}

.subnav {
  opacity: 0;
  display: block;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.has-dropdown:hover .subnav {
  -webkit-transform:opacity(1);
  transform:opacity(1);
  opacity: 1;
}

.has-dropdown {
   margin-right:0px;   
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
   ul.subnav li {
      float:left;
      padding: 2px 2px 2px 2px
   }
   ul.subnav li {
      background-color: rgba(255,255,255,0.9);
      margin-top:30px;
      margin-left:-5px;
      padding: 5px 5px 5px 5px
   }

}

div.__slackin {
   z-index:999
}


ul.pull-right {
   padding-top: 5px;
}

.lang-menu {
   display: none;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
   .lang-menu {
      display: block;
      padding-top:4px;
   }
}

img.grayscale {
    opacity: 0.5;
}

.slock-lang img {
  -webkit-filter: drop-shadow(1px 1px 2px #888);
  filter: drop-shadow(1px 1px 2px #888);
  margin-left: 8px;
  
}


@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/Lato-100/Lato-100.eot');
  src: url('/fonts/Lato-100/Lato-100.eot?#iefix') format('embedded-opentype'),
       local('Lato Hairline'),
       local('Lato-100'),
       url('/fonts/Lato-100/Lato-100.woff2') format('woff2'),
       url('/fonts/Lato-100/Lato-100.woff') format('woff'),
       url('/fonts/Lato-100/Lato-100.ttf') format('truetype'),
       url('/fonts/Lato-100/Lato-100.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Lato-300/Lato-300.eot');
  src: url('/fonts/Lato-300/Lato-300.eot?#iefix') format('embedded-opentype'),
       local('Lato Light'),
       local('Lato-300'),
       url('/fonts/Lato-300/Lato-300.woff2') format('woff2'),
       url('/fonts/Lato-300/Lato-300.woff') format('woff'),
       url('/fonts/Lato-300/Lato-300.ttf') format('truetype'),
       url('/fonts/Lato-300/Lato-300.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Lato-regular/Lato-regular.eot');
  src: url('/fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('/fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('/fonts/Lato-regular/Lato-regular.woff') format('woff'),
       url('/fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('/fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Lato-700/Lato-700.eot');
  src: url('/fonts/Lato-700/Lato-700.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold'),
       local('Lato-700'),
       url('/fonts/Lato-700/Lato-700.woff2') format('woff2'),
       url('/fonts/Lato-700/Lato-700.woff') format('woff'),
       url('/fonts/Lato-700/Lato-700.ttf') format('truetype'),
       url('/fonts/Lato-700/Lato-700.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Open-Sans-300/Open-Sans-300.eot');
  src: url('/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('/fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
       url('/fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
       url('/fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
       url('/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Open-Sans-600/Open-Sans-600.eot');
  src: url('/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('/fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
       url('/fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
       url('/fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
       url('/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Open-Sans-700/Open-Sans-700.eot');
  src: url('/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('/fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
       url('/fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
       url('/fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
       url('/fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/Open-Sans-800/Open-Sans-800.eot');
  src: url('/fonts/Open-Sans-800/Open-Sans-800.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Extrabold'),
       local('Open-Sans-800'),
       url('/fonts/Open-Sans-800/Open-Sans-800.woff2') format('woff2'),
       url('/fonts/Open-Sans-800/Open-Sans-800.woff') format('woff'),
       url('/fonts/Open-Sans-800/Open-Sans-800.ttf') format('truetype'),
       url('/fonts/Open-Sans-800/Open-Sans-800.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/Open-Sans-300italic/Open-Sans-300italic.eot');
  src: url('/fonts/Open-Sans-300italic/Open-Sans-300italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light Italic'),
       local('Open-Sans-300italic'),
       url('/fonts/Open-Sans-300italic/Open-Sans-300italic.woff2') format('woff2'),
       url('/fonts/Open-Sans-300italic/Open-Sans-300italic.woff') format('woff'),
       url('/fonts/Open-Sans-300italic/Open-Sans-300italic.ttf') format('truetype'),
       url('/fonts/Open-Sans-300italic/Open-Sans-300italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Open-Sans-italic/Open-Sans-italic.eot');
  src: url('/fonts/Open-Sans-italic/Open-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Italic'),
       local('Open-Sans-italic'),
       url('/fonts/Open-Sans-italic/Open-Sans-italic.woff2') format('woff2'),
       url('/fonts/Open-Sans-italic/Open-Sans-italic.woff') format('woff'),
       url('/fonts/Open-Sans-italic/Open-Sans-italic.ttf') format('truetype'),
       url('/fonts/Open-Sans-italic/Open-Sans-italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/Open-Sans-600italic/Open-Sans-600italic.eot');
  src: url('/fonts/Open-Sans-600italic/Open-Sans-600italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold Italic'),
       local('Open-Sans-600italic'),
       url('/fonts/Open-Sans-600italic/Open-Sans-600italic.woff2') format('woff2'),
       url('/fonts/Open-Sans-600italic/Open-Sans-600italic.woff') format('woff'),
       url('/fonts/Open-Sans-600italic/Open-Sans-600italic.ttf') format('truetype'),
       url('/fonts/Open-Sans-600italic/Open-Sans-600italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/Open-Sans-700italic/Open-Sans-700italic.eot');
  src: url('/fonts/Open-Sans-700italic/Open-Sans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold Italic'),
       local('Open-Sans-700italic'),
       url('/fonts/Open-Sans-700italic/Open-Sans-700italic.woff2') format('woff2'),
       url('/fonts/Open-Sans-700italic/Open-Sans-700italic.woff') format('woff'),
       url('/fonts/Open-Sans-700italic/Open-Sans-700italic.ttf') format('truetype'),
       url('/fonts/Open-Sans-700italic/Open-Sans-700italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/Open-Sans-800italic/Open-Sans-800italic.eot');
  src: url('/fonts/Open-Sans-800italic/Open-Sans-800italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Extrabold Italic'),
       local('Open-Sans-800italic'),
       url('/fonts/Open-Sans-800italic/Open-Sans-800italic.woff2') format('woff2'),
       url('/fonts/Open-Sans-800italic/Open-Sans-800italic.woff') format('woff'),
       url('/fonts/Open-Sans-800italic/Open-Sans-800italic.ttf') format('truetype'),
       url('/fonts/Open-Sans-800italic/Open-Sans-800italic.svg#OpenSans') format('svg');
}


/* turn off showing links in prints */
@media print {
   a[href]:after {
      content: "" !important;
   }
}


form .bg1 {
  background-color: #F1f1f1;
  padding: 10px;
  padding-left: 20px;
}


.bg-primary_custom {
  background-color: #e74c3c !important;
}


.btn-purchase {
  padding: 20px;
  font-size: 23px;

}

.stat-number {
  font-size: 38px;
  color: #01a2a6;
  margin-bottom: 20px;
  margin-top:2px;
}



.bg-quadrary {
  color: #FFF;
  background-color: #EE5847 !important;
}



/* crowdsale-css */

md-whiteframe {
  background: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px; 
  padding-right: 10px; 
}

#crowdsaleApp md-content {
  background-color: transparent !important; 
}
  
#crowdsaleApp md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; 
}

#crowdsaleApp md-content md-tabs md-tabs-wrapper {
      background: white; 
}

#crowdsaleApp md-content h1:first-child {
    margin-top: 0; 
}

md-tab-item.md-active {
   color: black !important;
}
md-tab-item {
   color: black !important;
}

.content-border {
   border-bottom: 1px solid #aaa;
   border-left: 1px solid #aaa;
   border-right: 1px solid #aaa;
   margin-bottom: 20px;
   
}


/* every toolbar need white text */
md-toolbar h2 {
    color: #ffffff;
}

/* every step that is done will add this class */
md-toolbar.step-done {
   background-color: darkolivegreen
}



