<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Slock.it DAO Token Sale</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>


  <body>
    
  <div id="dao_include" >
     
    <div id="crowdsaleApp" ng-app="crowdsale" layout="column" style="text-align: left;" layout-padding ng-controller="CrowdsaleController as cs">

      <div class="col-sm" style="margin-bottom:20px;text-align:center" ng-show="!acceptedTC">
        
        <input type="button" ng-click="acceptTC($event)" value="Purchase DAO Tokens" name="purchase" class="btn btn-primary btn-filled btn-purchase" style="margin-top: 45px;">
        
      </div>
      
      
      <!-- 1. currency -->
      <div ng-show="acceptedTC">
        <md-toolbar ng-class="account.currencyType?'step-done':''">
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 1 : Choose the Currency!</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
              You may buy DAO Tokens using different currencies.
              Because the DAO will operate only with Ether, any other currency will be internally converted.
           </p>
           <form ng-cloak>
              <md-radio-group ng-model="account.currencyType" >
                 <md-radio-button value="ETH">ETH (Ether) The preferred and easiest way to get DAO Tokens.</md-radio-button>
                 <md-radio-button value="BTC">BTC (Bitcoin)</md-radio-button>
                 <md-radio-button value="FIAT">USD/EUR/GPB</md-radio-button>
                 <md-radio-button value="COINS">Other virtual Coins</md-radio-button>
              </md-radio-group>
           </form>
        </md-content>
      </div>
      
      <!-- 2. account -->
      <div ng-show="needsAccount()">
        <md-toolbar ng-class="(account.existing && (account.adr || (account.currencyType=='ETH' && account.existing!='no')))?'step-done':''">
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 2 : Your Account</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           
         <p>
            In Order to trade or control your tokens or even vote within the DAO you need an account n the Ethereum-Blockchain. You are the only one holding the key for it.
         </p>
         <form name="etheraccount" ng-submit="createAccount()" >
            <md-radio-group ng-model="account.existing" >
               <md-radio-button value="yes">I already have an Ethereum wallet, and I know how to use it.</md-radio-button>
               <md-radio-button value="yes_mist">I don't have a wallet yet, but show me how I can setup a account and manage it using the Ethereum Wallet. (which we suggest)</md-radio-button>
               <md-radio-button value="no">I want to create my own account right here in the browser and  use the browser to manage my DAO Tokens.</md-radio-button>
            </md-radio-group>

             <div ng-show="account.existing=='yes' && account.currencyType!='ETH'">
               <md-input-container style="margin-left:10px">
                  <label>Adress of your Account</label>
                  <input md-maxlength="42" md-minlength="40" name="adr" ng-model="account.adr" ethaddress />
                  <div ng-messages="etheraccount.adr.$error" role="alert" multiple ng-show="etheraccount.adr.$dirty || etheraccount.$submitted" >
                     <div ng-message="required">We need your ETH address in order to assign your tokens to it.</div>
                     <div ng-message="ethaddress">This needs to be a valid Ethereum address like 0x1234567890abcdef...</div>
                     <div ng-message="md-maxlength">The address has to be less than 40 characters long.</div>
                  </div>                  
               </md-input-container>
            </div>


            <div ng-show="account.existing=='no'" >
               <div layout="row" >
                  <md-input-container  style="margin-left:10px" flex="45">
                     <label>Define a Password to encrypt and protect your new private key</label>
                     <input id="account_password" required name="password" ng-model="password" type="password" ng-minlength="7"/>
                     <div ng-messages="etheraccount.password.$error" role="alert" multiple ng-show="etheraccount.password.$dirty || etheraccount.$submitted" >
                        <div ng-message="minlength"> You must enter a password with at least 7 digits or letters. </div>
                     </div>
                  </md-input-container>
                  <md-input-container style="margin-left:20px" ng-show="password" flex="45">
                     <label>repeat this Password to ensure there are no typos</label>
                     <input required ng-model="repassword" name="repassword" type="password" compare-to="password" />
                     <div ng-messages="etheraccount.repassword.$error" role="alert" multiple ng-show="etheraccount.repassword.$dirty || etheraccount.$submitted" >
                        <div ng-message="required"> You must repeat the password above. </div>
                        <div ng-message="compareTo"> Both Passwords must match </div>
                     </div>
                  </md-input-container>
               </div>
               <div layout="row" ng-show="password && repassword==password">
                  <p style="padding-left:13px;font-size:12px">
                     If you feel better having this key as email send to you, you need to enter your email address here. If not your key will not leave the browser, but make sure you have your key saved!
                  </p>
               </div>
               <div layout="row" ng-show="password && repassword==password">
                  <md-input-container  style="margin-left:10px"  flex="45">
                     <label>Your Email-Adress the private-key-file will be send to</label>
                     <input name="email" ng-model="email" type="email" ng-pattern="/^.+@.+\..+$/"/>
                     <div ng-messages="etheraccount.email.$error" role="alert" multiple ng-show="etheraccount.email.$dirty || etheraccount.$submitted" >
                        <div ng-message="pattern"> You must enter a valid email-address!. </div>
                     </div>
                  </md-input-container>
                  <md-input-container style="margin-left:20px" ng-show="email"  flex="45">
                     <label>repeat this Email-Address to ensure there are no typos</label>
                     <input ng-model="reemail" name="reemail" type="email" compare-to="email" />
                     <div ng-messages="etheraccount.reemail.$error" role="alert" multiple ng-show="etheraccount.reemail.$dirty || etheraccount.$submitted" >
                        <div ng-message="required"> You must repeat the email. </div>
                        <div ng-message="compareTo"> Both Emails must match </div>
                     </div>
                  </md-input-container>
               </div>
               <div><md-button class="md-raised md-primary" ng-disabled="password!=repassword || ( email && email!=reemail) || !password">Create Account and Download Your Key</md-button>

               <div style="margin-bottom:10px;margin-left:10px;margin-top:10px;color:orange;">
                 Make sure you won't forget your private key or your Passphrase!!! You will need them in order to access your account!
               </div>
               <md-progress-linear id="accountProgressBar" md-mode="determinate" ng-show="accountProgress>0"  value="{{accountProgress}}"></md-progress-linear>

               <div ng-show="accountProgress>0" style="margin-left:10px;">
                  Generating and encrpyting your private key : <span id="accountProgress"></span>
               </div>


                </div>
            </div>
         </form>

           
        </md-content>
      </div>
      
      
      <!-- 3. Invest -->
      <div ng-show="showInvest()">
        <md-toolbar ng-class="(account.investDone || account.success)?'step-done':''">
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 3 : Invest</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >


            <!-- use the mist-browser -->
            <div ng-show="account.existing=='yes_mist'">
               <ol>
                  <li>Download the <a href="{{mist_link}}" target="_blank">Mist-Wallet</a></li>
                  <li>Unzip the file to place where you want install it.</li>
                  <li>Start the Ethereum-Wallet (or Ethereum-Wallet.exe). <br/>(After starting for the first time the Ethereum-Wallet wil synchronize the blockchain-data, which may take a while)</li>
                  <li>Create an account</li>
                  <li ng-show="account.currencyType=='ETH'">
                        All you need to do is to transfer the amount of ether you want to invest from your wallet to the following Address of the DAO:<br/><br/>
                        <pre>{{daoAddress}}</pre>
                  </li>
                  <li ng-show="account.currencyType!='ETH'">Enter the Address of your new Account:
                     <form name="wallet">
                        <md-input-container style="margin-left:0px">
                           <label>Adress of your new Account</label>
                           <input md-maxlength="42" md-minlength="40" name="adr" ng-model="account.adr" ethaddress />
                           <div ng-messages="wallet.adr.$error" role="alert" multiple ng-show="wallet.adr.$dirty || wallet.$submitted" >
                              <div ng-message="required">We need your ETH-Address in order to assign your tokens to it.</div>
                              <div ng-message="ethaddress">This needs to be a valid Ethereum-Address like 0x1234567890abcdef...</div>
                              <div ng-message="md-maxlength">The address has to be less than 40 characters long.</div>
                           </div>                  
                        </md-input-container>
                     </form>
                     
                  </li>
               </ol>
            </div>


            <!-- Pay in ETH -->
           <div ng-show="account.currencyType=='ETH'"> 


               <!--do it directly -->
               <div ng-show="account.existing=='yes'  ">
                  <p>
                        All you need to do is to transfer the amount of ether you want to invest from your existing account to the following Address of the DAO:<br/><br/>
                        <pre>{{daoAddress}}</pre>
                  </p>
               </div>
               
               <!-- send ETH-Transaction -->
               <div ng-show="account.existing=='no' ">
                  <form name="etherForm" ng-submit="sendEther($event)" >
                     <div ng-show="account.unlocked && account.adr">
                        <div>
                           <p>How many SlockTokens do you want to buy ( 1 SlockToken = 1 Ether ) </p>
                           <md-input-container>
                              <label>the amount in Ether to invest</label>
                              <input required type="number" step="any" name="ether" id="account_ether" ng-model="account.ether" />
                              <div ng-messages="etherForm.ether.$error" role="alert" multiple  >
                                 <div ng-message="required"> You must define the amount of ether. </div>
                                 <div ng-message="min"> You must send at least some Ether. </div>
                                 <div ng-message="max"> You cannnot transfer more than your current balance </div>
                              </div>
                           </md-input-container>

                           <div><md-button class="md-raised md-primary" ng-disabled="!account.ether || account.isSendingEther || !account.adr">Send Transaction {{ account.success ? 'again' : ''}}</md-button></div>
                           <md-progress-linear md-mode="indeterminate" ng-show="account.isSendingEther"></md-progress-linear>
                           <div ng-show="account.isSendingEther"><p>{{account.status}}</p></div>

                        </div>
                        <div style="font-size:10px">
                           <p style="font-size:10px">Pressing this Button will sign a transaction with your new Account. We will execute this signed transaction as soon as you have the balance to do so. <br/>
                           (The Amount transfered may be a little less than the specified, because it includes the gas for the transaction)
                        </div>
                     </div>
                  </form>
                  
               </div>
               
               
               
           </div>
           
            <!-- Pay in BTC -->
           <div ng-show="account.currencyType=='BTC' && account.adr">
              
               <form name="btcForm" ng-submit="sendBTC($event,account.btc_amount,'btc_qrcode')" >
                        <div>
                           <p>How many Bitcoins do you want to invest? </p>
                           
                           <p>
                              <img src="img/gatecoin.svg" width="261" height="69" style="overflow:hidden;transform-origin: 50% 50% 0px;"/>
                           </p>
                           
                           
                           <md-input-container>
                              <label>the amount in BTC to invest</label>
                              <input required type="number" step="any" name="btc_amount" id="account_btc_amount" ng-model="account.btc_amount" />
                              <div ng-messages="btcForm.btc_amount.$error" role="alert" multiple  >
                                 <div ng-message="required"> You must define the amount of BTC. </div>
                                 <div ng-message="min"> You must send at least some BTC. </div>
                              </div>
                           </md-input-container>

                           <div><md-button class="md-raised md-primary" ng-disabled="!account.btc_amount || account.isSendingEther">Create QRCode {{ account.success ? 'again' : ''}}</md-button></div>
                           <md-progress-linear md-mode="indeterminate" ng-show="account.isSendingEther"></md-progress-linear>
                           <div ng-show="account.isSendingEther"><p>{{account.status}}</p></div>
                           
                           <div ng-show="account.btc">
                              <p>
                                 Please send {{account.btc.amount}} BTC to this address: <pre>{{account.btc.adr}}</pre><br/><br/>
                                 Or simply scan this QRCode!
                              </p>
                              <div id="btc_qrcode"/>
                           </div>

                        </div>
                  </form>
              
           </div> 

            <!-- Pay in BTC -->
           <div ng-show="account.currencyType=='COINS' && account.adr">
              
              <p>
                     Using our shapeshift.io we may offer you a way to use any other coin.
                     This shapeshift-transaction will automaticly register your created account.<br/>
                     <div>
                        <script>function shapeshift_click(a,e){e.preventDefault();var link=a.href;window.open(link,'1418115287605','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left=0,top=0');return false;}</script> <a onclick="shapeshift_click(this, event)" href="https://shapeshift.io/shifty.html?destination=54715db7a8a57bc9bab660eb8e7b195774cb564d&amp;output=ETH&amp;apiKey=652c87e6d0e733745943f6b7f0e0d2bc8712db9996eb3996f39abb6bb29846fe755415d3c13dd85a6fc269dd5ac80135bb244a790486dd53e2babcb7b43c153c"><img src="https://shapeshift.io/images/shifty/large_light_ss.png" class="ss-button"></a>
                     </div>
                  </p>

              
           </div> 

           
        </md-content>
      </div>
      
      <!-- 4. Send Ether to the new account -->
      <div ng-show="needsAccount() && account.existing && (account.existing!='no' || account.unlocked) && account.success && account.currencyType=='ETH'">
        <md-toolbar >
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 4 : Send some Ether</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
               Congratulation, last Step:
               <p>
                  You must now send an transaction with <b>{{account.ether}}</b> Ether to your new wallet<br/><br/>
                  <pre>{{account.adr}}</pre>
               </p>
               <p>
                 As soon as you transfered the ether, you will receive an email with the confirmation that these <b>{{account.ether}}</b> Ether are invested in the Slock.it DAO.
               </p>
            </p>
            <p>
               Now read the tutorial, how to setup your mist-browser and activly vote!
            </p>
        </md-content>
      </div>
           

      <!-- 4. Send Ether to the new account -->
      <div ng-show="account.currencyType=='FIAT'">
        <md-toolbar >
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 2 : Register on Bity</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
              In Order to Invest using US-Dollar, Euro, CHF or GPB, we recommend you to coninue on the Bity-Site, 
              where they have prepared a special workflow for the crowdfunding.
              
               <p><a href="https://bity.com/"  target="_new"><img src="https://bity.com/assets/img/logo-without-circle.png" width="200"/></a></p>
           </p>
           
           <p>
              So when you go there take these steps:
              
              <ol>
                <li><a href="http://dev.sbex.ch" target="_new">Go to BiTy</a></li>
                <li>Create new account (or use an existing)</li>
                <li>Login</li>
                <li>enter the phone number</li>
                <li>Generate or use an existing ETH-Adress</li>
                <li>Follow the Workflow</li>
                <li>Set Amount you want to invest</li>
                <li>Select bank transfer</li>
                <li>And then send the amount to the given bank account</li>
              </ol>
              
              
           </p>
        </md-content>
      </div>
                    

    </div>
    </div>
    
    
    



    <script src="src/init.js"></script>
  </body>
</html>
Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Contact H
