<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Slock.it DAO Token Sale</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>


  <body>
    
  <div id="dao_include" >
     
    <div id="crowdsaleApp" ng-app="crowdsale" layout="column" style="text-align: left;" layout-padding ng-controller="CrowdsaleController as cs">

      <div class="col-sm" style="margin-bottom:20px;text-align:center" ng-show="!acceptedTC">
         
         <div id="msgOutput"/>
        
        <input type="button" ng-click="acceptTC($event)" value="Purchase DAO Tokens" name="purchase" class="btn btn-primary btn-filled btn-purchase" style="margin-top: 45px;">
        
      </div>
      
      
      <!-- 1. currency -->
      <div ng-show="acceptedTC" class="roundBorder">
        <md-toolbar ng-class="account.currencyType?'step-done':''">
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 1 : Choose your Currency!</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
              Choose the currency you are using to buy DAO tokens. The DAO lives on the Ethereum blockchain; it can only directly accept ETH, any other currency will be converted to ETH by one of our partners before being sent to the DAO.
           </p>
           <form ng-cloak>
              <md-radio-group ng-model="account.currencyType" >
                 <md-radio-button value="ETH">ETH (Ether) (Recommended) </md-radio-button>
                 <md-radio-button value="BTC">BTC (Bitcoin)</md-radio-button>
                 <md-radio-button value="FIAT">USD/EUR/GPB</md-radio-button>
                 <md-radio-button value="COINS">Other Digital Currencies</md-radio-button>
              </md-radio-group>
           </form>
        </md-content>
      </div>
      
      <!-- 2. Ethereum Account -->
      <div ng-show="needsAccount()" class="roundBorder">
        <md-toolbar ng-class="(account.existing && (account.adr || (account.currencyType=='ETH' && account.existing!='no')))?'step-done':''">
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 2 : Your Ethereum Account</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           
         <p>
            In order to own DAO tokens, you need an Ethereum account. 
         </p>
         <form name="etheraccount" ng-submit="createAccount()" >
            <md-radio-group ng-model="account.existing" >
               <md-radio-button value="yes_mist">I would like help setting up the Ethereum Wallet so I can securely hold DAO tokens and fully participate in the DAO (Recommended) </md-radio-button>
               <md-radio-button value="yes">I already have an Ethereum wallet, and I know how to use it to safely hold DAO tokens.</md-radio-button>
               <md-radio-button value="no">I want to create my own Ethereum account right here in the browser and store the private key that controls my DAO tokens myself.</md-radio-button>
            </md-radio-group>

             <div ng-show="account.existing=='yes' && account.currencyType!='ETH'">
               <md-input-container style="margin-left:10px">
                  <label>Your Ethereum Account's Address</label>
                  <input md-maxlength="42" md-minlength="40" name="adr" ng-model="account.adr" ethaddress />
                  <div ng-messages="etheraccount.adr.$error" role="alert" multiple ng-show="etheraccount.adr.$dirty || etheraccount.$submitted" >
                     <div ng-message="required">We need your ETH address in order for you to receive DAO tokens.</div>
                     <div ng-message="ethaddress">This needs to be a valid Ethereum address like 0x1234567890abcdef...</div>
                     <div ng-message="md-maxlength">The address has to be less than 40 characters long.</div>
                  </div>                  
               </md-input-container>
            </div>


            <div ng-show="account.existing=='no'" >
               <div layout="row" >
                  <md-input-container  style="margin-left:10px" flex="45">
                     <label>Please enter a secure password and save it, you will need it to access your DAO tokens.</label>
                     <input id="account_password" required name="password" ng-model="password" type="password" ng-minlength="7"/>
                     <div ng-messages="etheraccount.password.$error" role="alert" multiple ng-show="etheraccount.password.$dirty || etheraccount.$submitted" >
                        <div ng-message="minlength"> Please enter a password with at least 7 characters. </div>
                     </div>
                  </md-input-container>
                  <md-input-container style="margin-left:20px" ng-show="password" flex="45">
                     <label>Re-enter your password to confirm</label>
                     <input required ng-model="repassword" name="repassword" type="password" compare-to="password" />
                     <div ng-messages="etheraccount.repassword.$error" role="alert" multiple ng-show="etheraccount.repassword.$dirty || etheraccount.$submitted" >
                        <div ng-message="required"> Please re-enter your password to confirm. </div>
                        <div ng-message="compareTo"> Try again, your passwords did not match </div>
                     </div>
                  </md-input-container>
               </div>
               <div layout="row" ng-show="password && repassword==password">
                  <p style="padding-left:13px;font-size:12px">
                     If you would like to back up your private key by having it emailed to you please enter your email address here. Your private key will be downloaded by your browser as a file without an extension, be sure to back up this file and your password!
                  </p>
               </div>
               <div layout="row" ng-show="password && repassword==password">
                  <md-input-container  style="margin-left:10px"  flex="45">
                     <label>The email address where the private key will be sent</label>
                     <input name="email" ng-model="email" type="email" ng-pattern="/^.+@.+\..+$/"/>
                     <div ng-messages="etheraccount.email.$error" role="alert" multiple ng-show="etheraccount.email.$dirty || etheraccount.$submitted" >
                        <div ng-message="pattern"> Please enter a valid email address. </div>
                     </div>
                  </md-input-container>
                  <md-input-container style="margin-left:20px" ng-show="email"  flex="45">
                     <label>Re-enter your email address to ensure there are no typos.</label>
                     <input ng-model="reemail" name="reemail" type="email" compare-to="email" />
                     <div ng-messages="etheraccount.reemail.$error" role="alert" multiple ng-show="etheraccount.reemail.$dirty || etheraccount.$submitted" >
                        <div ng-message="required"> Please re-enter the email. </div>
                        <div ng-message="compareTo"> Both emails need to match. </div>
                     </div>
                  </md-input-container>
               </div>
               <div><md-button class="md-raised md-primary" ng-disabled="password!=repassword || ( email && email!=reemail) || !password">Create an Account and Download your Private Key</md-button>

               <div style="margin-bottom:10px;margin-left:10px;margin-top:10px;color:orange;">
                  Make sure you save your private key and your password! You will need both of them in order to have full access to your DAO tokens. Your new Ethereum account address is: {{account.adr}}
               </div>
               <md-progress-linear id="accountProgressBar" md-mode="determinate" ng-show="accountProgress>0"  value="{{accountProgress}}"></md-progress-linear>

               <div ng-show="accountProgress>0" style="margin-left:10px;">
                  Generating and encrypting your private key : <span id="accountProgress"></span>
               </div>


                </div>
            </div>
         </form>

           
        </md-content>
      </div>
      
      
      <!-- 3. Buy DAO Tokens -->
      <div ng-show="showInvest()" class="roundBorder">
        <md-toolbar ng-class="(account.investDone || account.success)?'step-done':''">
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 3: Buy DAO Tokens</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >


            <!-- use the mist-browser -->
            <div ng-show="account.existing=='yes_mist'">
               <ol>
                  <li>Download the most recent version of the <a href="{{mist_link}}" target="_blank">Ethereum Wallet</a></li>
                  <li>Unzip the file where you want install the program.</li>
                  <li>Start the Ethereum Wallet (Ethereum-Wallet.exe). <br/>When the Ethereum Wallet is opened, it will synchronize the blockchain-data, which may take a while, especially the first time it will likely take several hours.</li>
                  <li>Create an account</li>
                  <li ng-show="account.currencyType=='ETH'">
                        Load this account with ETH</li>
                       <li> Send the amount of ETH you want to convert from your wallet to the following address of the DAO:<br/><br/>
                        <pre>{{daoAddress}}</pre>
                  </li>
                  <li ng-show="account.currencyType!='ETH'">Enter the address of your Ethereum account:
                     <form name="wallet">
                        <md-input-container style="margin-left:0px">
                           <label>Address of your new Account</label>
                           <input md-maxlength="42" md-minlength="40" name="adr" ng-model="account.adr" ethaddress />
                           <div ng-messages="wallet.adr.$error" role="alert" multiple ng-show="wallet.adr.$dirty || wallet.$submitted" >
                              <div ng-message="required">We need your ETH address you to receive DAO tokens.</div>
                              <div ng-message="ethaddress"> Please enter a valid Ethereum address like 0x1234567890abcdef...</div>
                              <div ng-message="md-maxlength">The address must be less than 40 characters long.</div>
                           </div>                  
                        </md-input-container>
                     </form>
                     
                  </li>
               </ol>
            </div>


            <!-- Pay in ETH -->
           <div ng-show="account.currencyType=='ETH'"> 


               <!--do it directly -->
               <div ng-show="account.existing=='yes'  ">
                  <p>
                        Send the amount of ETH you want to use to buy DAO tokens to the DAO's contract address:<br/><br/>
                        <pre>{{daoAddress}}</pre>
                  </p>
               </div>
               
               <!-- send ETH-Transaction -->
               <div ng-show="account.existing=='no' ">
                  <form name="etherForm" ng-submit="sendEther($event)" >
                     <div ng-show="account.unlocked && account.adr">
                        <div>
                           <p>How much ETH would you like to convert into DAO tokens? </p>
                           
                           <div class="row">
                              <md-input-container class="col-md-6">
                                 <label>The amount in ETH being spent</label>
                                 <input required type="number" step="any" name="ether" id="account_ether" ng-model="account.ether" />
                                 <div ng-messages="etherForm.ether.$error" role="alert" multiple  >
                                    <div ng-message="required"> Please define an amount of ETH. </div>
                                    <div ng-message="min"> Please enter a larger amount of ETH. </div>
                                    <div ng-message="max"> You cannot transfer more than your current balance. </div>
                                 </div>
                              </md-input-container>
                              <div class="col-md-6" style="padding-top:40px"> ETH &nbsp; &nbsp; &nbsp; &nbsp; = approx. {{(account.ether||0)*tokenPrice-0.2}} DAO tokens</div>
                           </div>

                           <div><md-button class="md-raised md-primary" ng-disabled="!account.ether || account.isSendingEther || !account.adr">Send Transaction {{ account.success ? 'again' : ''}}</md-button></div>
                           <md-progress-linear md-mode="indeterminate" ng-show="account.isSendingEther"></md-progress-linear>
                           <div ng-show="account.isSendingEther"><p>{{account.status}}</p></div>

                        </div>
                        <div style="font-size:10px">
                           <p style="font-size:10px">Pressing this button will sign an ETH transaction with the new account for the pledged amount. This signed transaction will buy DAO tokens as soon the pledged amount of ETH (or more)arrives in your new Ethereum account: {{account.adr}} <br/>
                           NOTE: This does not lock in the price of the DAO tokens, the price you pay for the tokens will be the price at the time the ETH is sent into this account. 
                        </div>
                     </div>
                  </form>
                  
               </div>
               
               
               
           </div>
           
            <!-- Pay in BTC -->
           <div ng-show="account.currencyType=='BTC' && account.adr">
              
               <form name="btcForm" ng-submit="sendBTC($event,account.btc_amount,'btc_qrcode')" >
                        <div>
                           <p>How many BTC do you want to send? </p>
                           
                           <p>
                              <img src="img/partner_logos/gatecoin.png" width="200" />
                           </p>
                           
                           
                           <md-input-container>
                              <label>The amount in BTC to convert into DAO tokens</label>
                              <input required type="number" step="any" name="btc_amount" id="account_btc_amount" ng-model="account.btc_amount" />
                              <div ng-messages="btcForm.btc_amount.$error" role="alert" multiple  >
                                 <div ng-message="required"> Please enter an amount of BTC. </div>
                                 <div ng-message="min"> Please send more BTC than that. </div>
                              </div>
                           </md-input-container>

                           <div><md-button class="md-raised md-primary" ng-disabled="!account.btc_amount || account.isSendingEther">Create QRCode {{ account.success ? 'again' : ''}}</md-button></div>
                           <md-progress-linear md-mode="indeterminate" ng-show="account.isSendingBTC"></md-progress-linear>
                           <div ng-show="account.isSendingEther"><p>{{account.status}}</p></div>
                           
                           <div ng-show="account.btc">
                              <p>
                                 Please send {{account.btc.amount}} BTC to this address: <pre>{{account.btc.adr}}</pre><br/><br/>
                                 Or simply scan this QRCode with your Bitcoin wallet app.
                              </p>
                              <div id="btc_qrcode"/>
                           </div>

                        </div>
                  </form>
              
           </div> 

            <!-- Pay in BTC -->
           <div ng-show="account.currencyType=='COINS' && account.adr">
              
              <p>
                     ShapeShift.io allows us to accept almost any digital currency. ShapeShift will convert your digital currency into ETH and buy the DAO tokens for you. They will be found in your Ethereum account {{account.adr}} as soon as the ETH is received by the DAO.<br/>
                     <div>
                        
                        <md-button ng-click="openShapeShift()"><img src="https://shapeshift.io/images/shifty/small_light_altcoins.png" class="ss-button"></md-button></div>
                        

                     </div>
                  </p>

              
           </div> 

           
        </md-content>
      </div>
      
      <!-- 4. Send Ether to the new account -->
      <div ng-show="needsAccount() && account.existing && (account.existing!='no' || account.unlocked) && account.success && account.currencyType=='ETH'" class="roundBorder">
        <md-toolbar >
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 4 : Send your ETH to the DAO</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
               Congratulations, one final step:
               <p>
                  Please send a transaction with <b>{{account.ether}}</b> ETH to your new wallet:<br/><br/>
                  <pre>{{account.adr}}</pre>
               </p>
               <p>
                 Once the ETH is received, you will be sent an email with the confirmation that your <b>{{account.ether}}</b> ETH has been sent to the DAO.
               </p>
            </p>
            <p>
               Now watch this tutorial on how to setup your Ethereum Wallet to actively participate in the DAO! //TODO add link
            </p>
        </md-content>
      </div>
           

      <!-- 4. Send Ether to the new account -->
      <div ng-show="account.currencyType=='FIAT'" class="roundBorder">
        <md-toolbar >
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 2 : Register on Bity</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
              In order to buy DAO tokens using US Dollars, Euros, or Swiss Francs, please continue the purchase at Bity.com. 
              They have partnered with us to build a custom interface for the DAO Token Sale.
              
               <p><a href="https://bity.com/"  target="_new"><img src="https://bity.com/assets/img/logo-without-circle.png" width="200"/></a></p>
           </p>
           
           <p>
              So when you get to their website take these steps:
              
              <ol>
                <li><a href="https://bity.com/register" target="_new">Go to Bity</a></li>
                <li>Create new account (or use an existing)</li>
                <li>Login</li>
                <li>Enter your phone number and verify your account (if it's a new account).</li>
                <li>Buy DAO tokens by generating a new ETH address or providing one of your own.</li>
                <li>Follow the instructions.</li>
                <li>Set amount you want to contribute</li>
                <li>Select bank transfer</li>
                <li>And confirm you have those funds available in your bank account</li>
              </ol>
              
              
           </p>
        </md-content>
      </div>
                    




      <!-- Check the Balance -->
      <div class="roundBorder">
        <md-toolbar class="checkBalance">
           <div class="md-toolbar-tools"><h2 class="md-flex">Check your DAO token balance</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
              Enter the Ethereum address you used to purchase DAO tokens verify your DAO token balance. If you did not pay with ether directly it may take a few hours before the DAO tokens are associated to your Ethereum account. 
           </p>
           
           <form name="balanceForm" ng-submit="checkBalances($event)" >
                  <div>
                     <md-input-container style="margin-left:0px">
                        <label>Address of the Ethereum account used to purchase DAO tokens</label>
                        <input md-maxlength="42" md-minlength="40" name="adr" ng-model="account.adr" ethaddress />
                        <div ng-messages="balanceForm.adr.$error" role="alert" multiple ng-show="balanceForm.adr.$dirty || balanceForm.$submitted" >
                           <div ng-message="ethaddress">This needs to be a valid Ethereum address such as 0x123....abcde</div>
                        </div>                  
                     </md-input-container>
                     

                     <div><md-button class="md-raised md-primary" ng-disabled="!account.adr">Check Balance</md-button></div>
                     <md-progress-linear md-mode="indeterminate" ng-show="isCheckingBalance"></md-progress-linear>
                     <div class="row" ng-show="checkResult" style="padding-top:20px">
                        <div class="col-md-6" >
                           Account Balance : <b style="font-size:19px">{{ checkResult.balance }}</b> ETH
                        </div>
                        <div class="col-md-6" >
                           DAO tokens owned : <b style="font-size:19px">{{ checkResult.tokens }}</b> DAO tokens
                        </div>
                     </div>
                     

                  </div>
            </form>
                             
        </md-content>
      </div>


    </div>
    </div>
    
    
    



    <script src="src/init.js"></script>
  </body>
</html>
