<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Slock.it DAO Token Sale</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>


  <body>
    
  <div id="dao_include" >
     
    <div id="crowdsaleApp" ng-app="crowdsale" layout="column" style="text-align: left;" layout-padding ng-controller="CrowdsaleController as cs">

      <div class="col-sm" style="margin-bottom:20px;text-align:center" ng-show="!acceptedTC">
         
         <div id="msgOutput"/>
        
        <input type="button" ng-click="acceptTC($event)" value="Purchase DAO Tokens" name="purchase" class="btn btn-primary btn-filled btn-purchase" style="margin-top: 45px;">
        
      </div>
      
      
      <!-- 1. currency -->
      <div ng-show="acceptedTC" class="roundBorder">
        <md-toolbar ng-class="account.currencyType?'step-done':''">
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 1 : Choose the Currency!</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
              You may buy DAO Tokens using many different currencies.
              Because the DAO will operate only with ether, any other currency will be internally converted.
           </p>
           <form ng-cloak>
              <md-radio-group ng-model="account.currencyType" >
                 <md-radio-button value="ETH">ETH (Ether) The preferred and easiest way to get DAO Tokens.</md-radio-button>
                 <md-radio-button value="BTC">BTC (Bitcoin)</md-radio-button>
                 <md-radio-button value="FIAT">USD/EUR/GPB</md-radio-button>
                 <md-radio-button value="COINS">Other Digital Currencies</md-radio-button>
              </md-radio-group>
           </form>
        </md-content>
      </div>
      
      <!-- 2. account -->
      <div ng-show="needsAccount()" class="roundBorder">
        <md-toolbar ng-class="(account.existing && (account.adr || (account.currencyType=='ETH' && account.existing!='no')))?'step-done':''">
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 2 : Your Account</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           
         <p>
            In order to truly own your DAO Tokens and fully participate in the DAO you need an account on the Ethereum blockchain. that you alone hold the private key to.
         </p>
         <form name="etheraccount" ng-submit="createAccount()" >
            <md-radio-group ng-model="account.existing" >
               <md-radio-button value="yes">I already have an Ethereum wallet, and I know how to use it.</md-radio-button>
               <md-radio-button value="yes_mist">I don't have a wallet yet; show me how I can setup a account and manage it using the Ethereum Wallet (Recommended) </md-radio-button>
               <md-radio-button value="no">I want to create my own account right here in the browser and use the browser to manage my DAO Tokens.</md-radio-button>
            </md-radio-group>

             <div ng-show="account.existing=='yes' && account.currencyType!='ETH'">
               <md-input-container style="margin-left:10px">
                  <label>Adress of your Account</label>
                  <input md-maxlength="42" md-minlength="40" name="adr" ng-model="account.adr" ethaddress />
                  <div ng-messages="etheraccount.adr.$error" role="alert" multiple ng-show="etheraccount.adr.$dirty || etheraccount.$submitted" >
                     <div ng-message="required">We need your ETH address in order to get you your DAO Tokens.</div>
                     <div ng-message="ethaddress">This needs to be a valid Ethereum address like 0x1234567890abcdef...</div>
                     <div ng-message="md-maxlength">The address has to be less than 40 characters long.</div>
                  </div>                  
               </md-input-container>
            </div>


            <div ng-show="account.existing=='no'" >
               <div layout="row" >
                  <md-input-container  style="margin-left:10px" flex="45">
                     <label>Define a password to encrypt and protect your new private key</label>
                     <input id="account_password" required name="password" ng-model="password" type="password" ng-minlength="7"/>
                     <div ng-messages="etheraccount.password.$error" role="alert" multiple ng-show="etheraccount.password.$dirty || etheraccount.$submitted" >
                        <div ng-message="minlength"> You must enter a password with at least 7 characters. </div>
                     </div>
                  </md-input-container>
                  <md-input-container style="margin-left:20px" ng-show="password" flex="45">
                     <label>Re-enter your password to confirm</label>
                     <input required ng-model="repassword" name="repassword" type="password" compare-to="password" />
                     <div ng-messages="etheraccount.repassword.$error" role="alert" multiple ng-show="etheraccount.repassword.$dirty || etheraccount.$submitted" >
                        <div ng-message="required"> You must repeat the password above. </div>
                        <div ng-message="compareTo"> Both Passwords must match </div>
                     </div>
                  </md-input-container>
               </div>
               <div layout="row" ng-show="password && repassword==password">
                  <p style="padding-left:13px;font-size:12px">
                     If you have a secure email and would like to back up your private key by having it emailed to you please enter your email address here. Otherwise your private key will not leave the browser, make sure you back-up your key somehow!
                  </p>
               </div>
               <div layout="row" ng-show="password && repassword==password">
                  <md-input-container  style="margin-left:10px"  flex="45">
                     <label>The email address where the private key file will be sent</label>
                     <input name="email" ng-model="email" type="email" ng-pattern="/^.+@.+\..+$/"/>
                     <div ng-messages="etheraccount.email.$error" role="alert" multiple ng-show="etheraccount.email.$dirty || etheraccount.$submitted" >
                        <div ng-message="pattern"> You must enter a valid email address!. </div>
                     </div>
                  </md-input-container>
                  <md-input-container style="margin-left:20px" ng-show="email"  flex="45">
                     <label>Re-enter your email address to ensure there are no typos.</label>
                     <input ng-model="reemail" name="reemail" type="email" compare-to="email" />
                     <div ng-messages="etheraccount.reemail.$error" role="alert" multiple ng-show="etheraccount.reemail.$dirty || etheraccount.$submitted" >
                        <div ng-message="required"> You must re-enter the email. </div>
                        <div ng-message="compareTo"> Both emails must match </div>
                     </div>
                  </md-input-container>
               </div>
               <div><md-button class="md-raised md-primary" ng-disabled="password!=repassword || ( email && email!=reemail) || !password">Create an Account and Download your Private Key</md-button>

               <div style="margin-bottom:10px;margin-left:10px;margin-top:10px;color:orange;">
                 Make sure you don't lose your private key or your passphrase!!! You will need both of them in order to access your account!
               </div>
               <md-progress-linear id="accountProgressBar" md-mode="determinate" ng-show="accountProgress>0"  value="{{accountProgress}}"></md-progress-linear>

               <div ng-show="accountProgress>0" style="margin-left:10px;">
                  Generating and encrpyting your private key : <span id="accountProgress"></span>
               </div>


                </div>
            </div>
         </form>

           
        </md-content>
      </div>
      
      
      <!-- 3. Invest -->
      <div ng-show="showInvest()" class="roundBorder">
        <md-toolbar ng-class="(account.investDone || account.success)?'step-done':''">
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 3 : Invest</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >


            <!-- use the mist-browser -->
            <div ng-show="account.existing=='yes_mist'">
               <ol>
                  <li>Download the <a href="{{mist_link}}" target="_blank">Ethereum Wallet</a></li>
                  <li>Unzip the file where you want install the program.</li>
                  <li>Start the Ethereum Wallet (Ethereum-Wallet.exe). <br/>(After starting for the first time the Ethereum-Wallet will synchronize the blockchain-data, which may take a while.)</li>
                  <li>Create an account</li>
                  <li ng-show="account.currencyType=='ETH'">
                        All you need to do is to transfer the amount of ether you want to contribute from your wallet to the following address of the DAO:<br/><br/>
                        <pre>{{daoAddress}}</pre>
                  </li>
                  <li ng-show="account.currencyType!='ETH'">Enter the address of your new account:
                     <form name="wallet">
                        <md-input-container style="margin-left:0px">
                           <label>Address of your new Account</label>
                           <input md-maxlength="42" md-minlength="40" name="adr" ng-model="account.adr" ethaddress />
                           <div ng-messages="wallet.adr.$error" role="alert" multiple ng-show="wallet.adr.$dirty || wallet.$submitted" >
                              <div ng-message="required">We need your ETH address to assign your DAO Tokens to it.</div>
                              <div ng-message="ethaddress">This needs to be a valid Ethereum address like 0x1234567890abcdef...</div>
                              <div ng-message="md-maxlength">The address must be less than 40 characters long.</div>
                           </div>                  
                        </md-input-container>
                     </form>
                     
                  </li>
               </ol>
            </div>


            <!-- Pay in ETH -->
           <div ng-show="account.currencyType=='ETH'"> 


               <!--do it directly -->
               <div ng-show="account.existing=='yes'  ">
                  <p>
                        All you need to do is to transfer the amount of ether you want to contribute from your existing account to the following address of the DAO:<br/><br/>
                        <pre>{{daoAddress}}</pre>
                  </p>
               </div>
               
               <!-- send ETH-Transaction -->
               <div ng-show="account.existing=='no' ">
                  <form name="etherForm" ng-submit="sendEther($event)" >
                     <div ng-show="account.unlocked && account.adr">
                        <div>
                           <p>How many DAO Tokens do you want to buy (100 DAO Tokens cost 1 ether) </p>
                           
                           <div class="row">
                              <md-input-container class="col-md-6">
                                 <label>The amount in ether being contributed</label>
                                 <input required type="number" step="any" name="ether" id="account_ether" ng-model="account.ether" />
                                 <div ng-messages="etherForm.ether.$error" role="alert" multiple  >
                                    <div ng-message="required"> You must define an amount of ether. </div>
                                    <div ng-message="min"> You must send at least some ether. </div>
                                    <div ng-message="max"> You cannnot transfer more than your current balance. </div>
                                 </div>
                              </md-input-container>
                              <div class="col-md-6" style="padding-top:40px">Ether &nbsp; &nbsp; &nbsp; &nbsp; (= {{(account.ether||0)/tokenPrice}} Tokens)</div>
                           </div>

                           <div><md-button class="md-raised md-primary" ng-disabled="!account.ether || account.isSendingEther || !account.adr">Send Transaction {{ account.success ? 'again' : ''}}</md-button></div>
                           <md-progress-linear md-mode="indeterminate" ng-show="account.isSendingEther"></md-progress-linear>
                           <div ng-show="account.isSendingEther"><p>{{account.status}}</p></div>

                        </div>
                        <div style="font-size:10px">
                           <p style="font-size:10px">Pressing this button will sign a transaction with your new account. We will execute this signed transaction as soon as you have the balance to do so. <br/>
                           (The amount transfered will be slightly less than the specified amount, because of the gas required for the transaction to be completed.)
                        </div>
                     </div>
                  </form>
                  
               </div>
               
               
               
           </div>
           
            <!-- Pay in BTC -->
           <div ng-show="account.currencyType=='BTC' && account.adr">
              
               <form name="btcForm" ng-submit="sendBTC($event,account.btc_amount,'btc_qrcode')" >
                        <div>
                           <p>How many Bitcoins do you want to contribute? </p>
                           
                           <p>
                              <img src="img/gatecoin.svg" width="261" height="69" style="overflow:hidden;transform-origin: 50% 50% 0px;"/>
                           </p>
                           
                           
                           <md-input-container>
                              <label>The amount in BTC to contribute</label>
                              <input required type="number" step="any" name="btc_amount" id="account_btc_amount" ng-model="account.btc_amount" />
                              <div ng-messages="btcForm.btc_amount.$error" role="alert" multiple  >
                                 <div ng-message="required"> You must define an amount of BTC. </div>
                                 <div ng-message="min"> You must send a little more BTC than that. </div>
                              </div>
                           </md-input-container>

                           <div><md-button class="md-raised md-primary" ng-disabled="!account.btc_amount || account.isSendingEther">Create QRCode {{ account.success ? 'again' : ''}}</md-button></div>
                           <md-progress-linear md-mode="indeterminate" ng-show="account.isSendingEther"></md-progress-linear>
                           <div ng-show="account.isSendingEther"><p>{{account.status}}</p></div>
                           
                           <div ng-show="account.btc">
                              <p>
                                 Please send {{account.btc.amount}} BTC to this address: <pre>{{account.btc.adr}}</pre><br/><br/>
                                 Or simply scan this QRCode with your Bitcoin wallet app!
                              </p>
                              <div id="btc_qrcode"/>
                           </div>

                        </div>
                  </form>
              
           </div> 

            <!-- Pay in BTC -->
           <div ng-show="account.currencyType=='COINS' && account.adr">
              
              <p>
                     Using ShapeShift.io we can accept almost any digital currency.
                     This ShapeShift transaction will automaticly register your created account.<br/>
                     <div>
                        <script>function shapeshift_click(a,e){e.preventDefault();var link=a.href;window.open(link,'1418115287605','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left=0,top=0');return false;}</script> <a onclick="shapeshift_click(this, event)" href="https://shapeshift.io/shifty.html?destination=54715db7a8a57bc9bab660eb8e7b195774cb564d&amp;output=ETH&amp;apiKey=652c87e6d0e733745943f6b7f0e0d2bc8712db9996eb3996f39abb6bb29846fe755415d3c13dd85a6fc269dd5ac80135bb244a790486dd53e2babcb7b43c153c"><img src="https://shapeshift.io/images/shifty/large_light_ss.png" class="ss-button"></a>
                     </div>
                  </p>

              
           </div> 

           
        </md-content>
      </div>
      
      <!-- 4. Send Ether to the new account -->
      <div ng-show="needsAccount() && account.existing && (account.existing!='no' || account.unlocked) && account.success && account.currencyType=='ETH'" class="roundBorder">
        <md-toolbar >
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 4 : Send some Ether</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
               Congratulations, one final step:
               <p>
                  Now you must send a transaction with <b>{{account.ether}}</b> ether to your new wallet<br/><br/>
                  <pre>{{account.adr}}</pre>
               </p>
               <p>
                 As soon as you have transfered the ether, you will receive an email with the confirmation that your <b>{{account.ether}}</b> ether has been sent to the DAO.
               </p>
            </p>
            <p>
               Now read the tutorial on how to setup your Ethereum Wallet to actively participate in the DAO!
            </p>
        </md-content>
      </div>
           

      <!-- 4. Send Ether to the new account -->
      <div ng-show="account.currencyType=='FIAT'" class="roundBorder">
        <md-toolbar >
           <div class="md-toolbar-tools"><h2 class="md-flex">Step 2 : Register on Bity</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
              In order to buy DAO Tokens using US Dollars, Euros, or Swiss Francs, please continue the purchase at Bity.com. 
              They have partnered with us to build a custom interface for the DAO Token Sale.
              
               <p><a href="https://bity.com/"  target="_new"><img src="https://bity.com/assets/img/logo-without-circle.png" width="200"/></a></p>
           </p>
           
           <p>
              So when you get to their website take these steps:
              
              <ol>
                <li><a href="https://bity.com/register" target="_new">Go to Bity</a></li>
                <li>Create new account (or use an existing)</li>
                <li>Login</li>
                <li>Enter your phone number and verify your account (if it's a new account).</li>
                <li>Buy DAO Tokens by generating a new ETH address or providing one of your own.</li>
                <li>Follow the instructions.</li>
                <li>Set amount you want to contribute</li>
                <li>Select bank transfer</li>
                <li>And confirm you have those funds availible in your bank account</li>
              </ol>
              
              
           </p>
        </md-content>
      </div>
                    




      <!-- Check the Balance -->
      <div class="roundBorder">
        <md-toolbar class="checkBalance">
           <div class="md-toolbar-tools"><h2 class="md-flex">Check your DAO Token balance</h2></div>
        </md-toolbar>
        <md-content class="md-padding content-border" >
           <p>
              Here you can check anytime, how many DAO Tokens you own.
           </p>
           
           <form name="balanceForm" ng-submit="checkBalances($event)" >
                  <div>
                     <md-input-container style="margin-left:0px">
                        <label>Address of your account</label>
                        <input md-maxlength="42" md-minlength="40" name="adr" ng-model="account.adr" ethaddress />
                        <div ng-messages="balanceForm.adr.$error" role="alert" multiple ng-show="balanceForm.adr.$dirty || balanceForm.$submitted" >
                           <div ng-message="required">We need your ETH address in order for you to receive your DAO Tokens.</div>
                           <div ng-message="ethaddress">This needs to be a valid Ethereum address like 0x1234567890abcdef...</div>
                           <div ng-message="md-maxlength">The address has to be less than 40 characters long.</div>
                        </div>                  
                     </md-input-container>
                     

                     <div><md-button class="md-raised md-primary" ng-disabled="!account.adr">Check Balance</md-button></div>
                     <md-progress-linear md-mode="indeterminate" ng-show="isCheckingBalance"></md-progress-linear>
                     <div class="row" ng-show="checkResult" style="padding-top:20px">
                        <div class="col-md-6" >
                           Account Balance : <b style="font-size:19px">{{ checkResult.balance }}</b> Ether
                        </div>
                        <div class="col-md-6" >
                           DAO Tokens Owned : <b style="font-size:19px">{{ checkResult.tokens }}</b> DAO Tokens
                        </div>
                     </div>
                     

                  </div>
            </form>
                             
        </md-content>
      </div>
               


    </div>
    </div>
    
    
    



    <script src="src/init.js"></script>
  </body>
</html>
